[submodule "3rdparty/volk"]
	path = 3rdparty/volk
	url = https://github.com/zeux/volk
[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/Vulkan-Headers"]
	path = 3rdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/VulkanMemoryAllocator"]
	path = 3rdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "3rdparty/glslang"]
	path = 3rdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "3rdparty/SPIRV-Tools"]
	path = 3rdparty/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "3rdparty/SPIRV-Headers"]
	path = 3rdparty/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
